/**** Importation de la police Lato ****/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

.home,
#presentation__chief__section,
.introduction__gallery__section {
    background-color: #2e2e2e;
}

.home {
    background-image: url(img/sushi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

li {
    font-size: 18px;
}

.award {
    color: #f5f5dc;
}

.button {
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    background-color: #f5f5dc;
    color: #111111;
    transition: opacity 0.3s ease-in-out;
}

.button:hover {
    opacity: 0.9;
}

.main__content {
    flex-grow: 1;
    background-color: #f5f5dc;
}

#presentation__products__section,
.background__beige,
#menu__accordion {
    background-color: #f5f5dc;
}

#presentation__products__section article div {
    transition: box-shadow 0.4s ease-in-out;
}

#presentation__products__section article div:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.69);
}

#presentation__chief__section article {
    transition: transform 0.4s ease-in-out;
}

#presentation__chief__section article:hover {
    transform: translateY(-12px);
}

.background__red {
    background-color: #cc3030;
}

.background__darkless {
    background-color: #357575;
}

.introduction {
    background-image: url(img/diving-sushi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.introduction__gallery__section {
    height: 400px;
}